.bg-custom {

    background-image: linear-gradient(30deg, #30a4e7 0%, #030374 100%);


}

/* .myRow{
    max-width: 200px;
} */


h1.w-nav{
    color: white;
    display: inline-block;
    margin: auto;
}

h1.fixed{
    padding-bottom: 2%;


}
.city-but{
    height: 30px;
    margin: 4px;
    background-color: red;
}
#s-but{
    height: 30px;
    text-align: center;
    font-size: small;
    
    
}

#city-posit{
    height: 180px;
    display: inline-block;
    margin: 10px;
    background-color: white;
    
    position: relative;
    top: 300px;
    left: .1%;

}



/* #word {

    color: red;

} */
/* 
/* #j-posit {
    height: 250px;
    display: inline-block;
    margin: 15px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    right: .5%;

} */ */

/* #card-posit{
    position: absolute;
    right: -52%;
    margin-top: 10%;
} */
/* .funt{
    background-color: white;
    color: red;
} */
/* .thecard{
   
    height: 600px;
   
    margin-left:100px ;
    
} */
.hello{
    
   color: red;
}

/* #day5{
    visibility: hidden;
}
#day4{
    visibility: hidden;
}
#day3{
    visibility: hidden;
}
#day2{
    visibility: hidden;
}
#day1{
    visibility: hidden;
} */

/* #s-posit {
    height: 180px;
    display: inline-block;
    margin: 10px;
    /* background-color: white;
    border-bottom: 2px solid black; */
    /* position: absolute;
    left: .1%;

} */ 